.dashboard .cont{
    margin: 20px;
}

.box{
    width: 100%;
    background-color: #FFF;
    padding: 10px;
    display: flex;
    gap: 20px;
}

.box .count{
    width: 20%;
    padding: 20px;
    color: #FFF;
    background: #333;
    text-align: center;
}

.box .count h1{
    font-size: 4vw;
    font-weight: 800;
}

.box .count.cnt1{ background-color: #523957; }
.box .count.cnt2{ background-color: #d09293; }
.box .count.cnt3{ background-color: #faad45; }
.box .count.cnt4{ background-color: #546aa3; }
.box .count.cnt5{ background-color: #3a748c; }

.box .count label{
    font-size: 0.8vw;
    font-weight: 800;
    letter-spacing: 1px;
}

@media only screen and (max-width: 768px) {
    .box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .box .count{
        width: 100%;
    }

    .box .count h1{
        font-size: 5vh;
        font-weight: 800;
    }

    .box .count label{
        font-size: 2vh;
    }
}